<div class="flex h-screen bg-gray-100">
  <div class="w-80 shrink-0 bg-white border-r border-gray-200 flex flex-col">
    <div class="p-4 border-b border-gray-200 flex items-center justify-between">
      <p class="font-semibold text-gray-800 text-lg">Inbox</p>
    </div>

    <div class="px-4 pt-4 pb-3 border-b border-gray-100">
      <%= render "cards/new_card", user: current_user, owner: "User" %>
    </div>

    <div class="flex-1 overflow-y-auto px-4 py-4"
         data-controller="sortable"
         data-sortable-group-value="cards"
         data-sortable-animation-value="150"
         data-user-id="<%= current_user.id %>"
         data-board-id="<%= @board.id %>"
         id="<%= dom_id(current_user, :cards) %>">
      <% current_user.cards.each do |card| %>
          <%= render card %>
      <% end %>
    </div>

  </div>

  <div class="flex-1 overflow-hidden flex flex-col">
    <%= render 'boards/navbar', board: @board %>

    <% if notice.present? %>
      <div class="px-8 pt-4">
        <p class="py-2 px-4 bg-green-50 text-green-500 font-medium rounded-md inline-block" id="notice">
          <%= notice %>
        </p>
      </div>
    <% end %>

    <div class="flex-1 overflow-x-auto overflow-y-hidden">
      <div class="inline-flex items-start gap-6 p-8 min-w-max h-full">
        <div id="<%= dom_id(@board, :lists) %>" class="flex gap-6 pt-4">
          <%= render @board.lists %>
        </div>
        <%= render "lists/new_list", board: @board %>
      </div>
    </div>
  </div>
</div>

<%= turbo_frame_tag "modal" %>
